.flex-container{
    background-color: green;
    display:flex;
}
.flex-container>div{
    background-color: aliceblue;
    width: 100px;
    margin: 10px;
    text-align: center;
    font-size: large;
}
.grid-container{
    grid-template-columns: auto auto auto;
    display:grid;
    
    background-color: aqua;
    padding: 10px;
    margin:10px ;
    height:11rem;
    
}
.grid-item{
    background-color: antiquewhite;
    
    border:5px solid black;
    font-size:30px;
    text-align: center;
    margin:10px ;
    height:2rem;
   
}